.sign-up {
    width: 600px;

    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;

    border-radius: 25px;

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}