.login-area {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .login-area {
        padding: 25px;
    }
}