#filter-resources .content {
    margin-bottom: 25px;

    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
}

#filter-resources input {
    width: 100%;

    height: 25px;
}

#filter-resources select {
    width: 100%;

    height: 25px;
}

#affiliate-disclaimer {
    margin-top: 25px;

    font-size: 10px;
}