* { box-sizing: border-box; }

:root {
    --cs-blue: #1457B3;

    --background: #F7F7F7;
    --foreground: #FFFFFF;
    --border: #C0C0C0;
    --text: #242424;
    --error: #DC143C;
    --dark-mode: true;

    --lang-typescript: #396272;
    --lang-json: #3C3C3D;
    --lang-javascript: #EDDF7C;
    --lang-java: #A57438;
    --lang-python: #3A72A2;
    --lang-html: #E04D31;
    --lang-css: #563D79;
}

.uk-label {
    background-color: #1E56AF;
}

.lang-typescript {
    background-color: var(--lang-typescript);
}

.lang-json {
    background-color: var(--lang-json);
}

.lang-javascript {
    background-color: var(--lang-javascript);
}

.lang-java {
    background-color: var(--lang-java);
}

.lang-python {
    background-color: var(--lang-python);
}

.lang-html {
    background-color: var(--lang-html);
}

.lang-css {
    background-color: var(--lang-css);
}

html {
    background-color: var(--background);
}

body {
    color: var(--text);
}

.uk-navbar-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    height: 50px;
    padding: 20px;
}

#intro {
    height: 300px;

    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    color: #FFFFFF;

    background-color: var(--cs-blue);
}

#intro h1 {
    color: inherit;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}