@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:800&display=swap");

* { margin: 0; padding: 0; box-sizing: border-box; }

:root {
    --cs-blue: #1457B3;

    --background: #F7F7F7;
    --foreground: #FFFFFF;
    --text: #242424;
    --error: #DC143C;
}

/*@media screen and (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background: #121212;*/
/*        --foreground: #242424;*/
/*        --text: #F7F7F7;*/
/*    }*/
/*}*/

body {
    color: var(--text);

    font-family: "Open Sans", sans-serif;

    background-color: var(--background);
}

h1, h2 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

button {
    padding: 5px;

    color: var(--foreground);

    font-weight: bold;

    background-color: var(--text);

    border: 0;
}

button:hover {
    cursor: pointer;
}

label {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: bold;
}

input {
    padding: 5px;

    background-color: var(--foreground);

    outline: none;

    border: 0;
}

select {
    padding: 5px;

    background-color: var(--foreground);

    -webkit-appearance: none;
    -webkit-border-radius: 0;

    outline: none;

    border-radius: 0;
    border: 0;
}

#intro {
    height: 300px;

    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    color: #FFFFFF;

    background-color: var(--cs-blue);
}

.container {
    width: 100vw;

    display: flex;
    justify-content: center;
}

.content {
    max-width: 1000px;
    width: 1000px;
}