.card {
    padding: 15px;

    background-color: var(--foreground);

    border: 1px solid var(--border);
    border-radius: 5px;
}

.card-description {
    margin-top: 5px;
    margin-bottom: 5px;
}