.intro {
    height: 300px;

    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    color: #FFFFFF;

    background-color: var(--cs-blue);
}